* {
  box-sizing: border-box;
}

/* html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
} */

body {
  background-color: white;
  color: black;
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
  /* disable scrolling
  position: relative; */
}

/* Remove input type=number spin counter */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.one {
  height: 10vh;
  background-color: rgb(58, 58, 58);
  font-size: 1rem;
}

.two {
  height: 70vh;
  color: gray;
}

.three {
  height: 20vh;
}

.oneFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  width: 90px;
  float: right;
}

.div-navButton {
  height: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homeButton {
  float: left;
  padding-left: 10px;
}

.icon {
  font-size: 1.7rem;
  color: #FF6F66;
  margin: 0 auto;
}

.div-select {
  display: flex;
  width: 95vw;
  margin: 0 auto;
}

.div-select select {
  width: 100%;
  -webkit-appearance: none;
  background-color: rgb(58, 58, 58);
  height: 3rem!important;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 0;
  padding-left: 22px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;
}

.div-makesAttempts {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  justify-content: space-around;
}

.div-makesAttempts button {
  width: 100%;
  margin: 2px;
}

.div-makesAttempts input {
  width: 100%;
  margin: 2px;
  text-align: center;
  -webkit-appearance: none;
  background-color: rgb(58, 58, 58);
  height: 3rem!important;
  border: 2px solid transparent;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;
}

.div-makesAttempts input:focus {
  border: 2px solid #ffcc14;
}

.div-makesAttempts input::placeholder {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.div-makesAttempts button {
  -webkit-appearance: none;
  background-color:#FF6F66;
  height: 3rem!important;
  border: 2px solid #FF6F66;
  border-radius: 7px;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;

}

.div-shotLog {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  font-size: 1.3rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.div-log {
  color: white;
  height: 3rem;
  background-color: #FF6F66;
  background-image: linear-gradient(to bottom right, #FFCD42, #FF6F66);
  /* background-image: linear-gradient(to bottom right, #FFCD42, ffcc14); */
  border-radius: 10px;
  width: 88%;
  margin: 3px 0;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
}

.div-date {
  width: 12%;
  font-size: 0.7rem;
  display: inline-block;
  font-weight: 500;
}

.div-log span {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.div-logPercent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logPercent {
  font-size: 2rem;
  float: right;
  margin: 0 auto;
}

.logText {
  float: left;
}