* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  /* disable scrolling */
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
}

/* Remove input type=number spin counter */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none!important;
}

.one {
  height: 10vh;
  background-color: rgb(58, 58, 58);
  font-size: 1rem;
}

.two {
  height: 70vh;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  height: 20vh;
  background-color: #878787!important;
}

.oneFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: space-between;
  width: 90px;
  float: right;
  padding-right: 5px;
}

.div-navButton {
  height: 10vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homeButton {
  float: left;
  padding-left: 17px;
  color: #FF6F66;
}

.icon {
  font-size: 1.7rem;
  color: #FF6F66;
  margin: 0 auto;
}

.icon-inactive {
  color: #878787;
}

.div-select {
  display: flex;
  width: 95vw;
  margin: 0 auto;
}

.div-select select {
  width: 100%;
  -webkit-appearance: none;
  background-color: rgb(58, 58, 58);
  height: 3rem!important;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 0;
  padding-left: 22px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;
}

.div-makesAttempts {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  justify-content: space-around;
}

.div-makesAttempts button {
  width: 100%;
  margin: 2px;
}

.div-makesAttempts input {
  width: 100%;
  margin: 2px;
  text-align: center;
  -webkit-appearance: none;
  background-color: rgb(58, 58, 58);
  height: 3rem!important;
  border: 2px solid transparent;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;
}

.div-makesAttempts input:focus {
  border: 2px solid #FF6F66;
}

.div-makesAttempts input::placeholder {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.div-makesAttempts button {
  -webkit-appearance: none;
  background-color:#FF6F66;
  height: 3rem!important;
  border: 2px solid #FF6F66;
  border-radius: 7px;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  outline: none;
  color: white;
  margin: 2px;
  text-transform: uppercase;

}

.div-shotLog {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  font-size: 1.3rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-content: flex-end; */
}

.div-logOuter {
  display: flex;
}

.div-date {
  width: 12%;
  font-size: 0.7rem;
  display: inline-flex;
  font-weight: 500;
  margin-top: 12px;
}

.div-log {
  color: white;
  height: 3rem;
  background-color: #FF6F66;
  /* background-image: linear-gradient(to bottom right, #FFCD42, #FF6F66); */
  /* background-image: linear-gradient(to bottom right, #FFCD42, ffcc14); */
  border-radius: 10px;
  width: 88%;
  margin: 3px 0;
  font-size: 1.2rem;
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
}

.div-logText {
  padding-left: 15px;
  width: 300px;
}

.div-log span {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}

.div-logPercent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 15px;
}

#logPercent {
  font-size: 2rem;
  font-weight: 700;
  float: right;
  margin: 0 auto;
  padding-top: 5px;
}

#percentSign {
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 1.5px;
  padding-top: 15px;
}

.logText {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  padding-top: 4px;
  float: left;
}

#shotTypeText {
  font-weight: 900;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  float:left;
  padding-top: 5px;
}

#makesAttemptsText {
  float: left;
  font-size: 0.8rem;
  letter-spacing: 0.09rem;
  padding-top: 1.2px;
}

.div-popUp {
  display: flex;
  justify-content: flex-end;
}

.button-delete {
  border: 2px solid #FF6F66;
  color: #FF6F66;
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  border-radius: 8px;
  width: 50%;
  height: 2.5rem; 
  cursor: pointer;
  background-color: white;
  margin-bottom: 3px;
}

#graphViewText {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  text-align: center;
  line-height: 1.1rem;
}

.div-chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
}
/* 
.chartjs-size-monitor {

} */

.div-chart canvas {
  height: 100%;
  width: 100%;
}